<footer>
    <section id="first">
        <div id="quick_link"></div>
        <div id="Contact_us"></div>
        <div id="follow_us"></div>
    </section>
    <section id="second">
        <div id="first">
            &copy; 2021 Given. All Rights Reserved
        </div>
        <div id="second">
            Made with ❤️ by KNITIANS
        </div>
    </section>
</footer>