<footer class="section-footer section ">
  <div class="container d-flex justify-content-between">
      <div class="f-about">
        <h3>About</h3>
          <p>
            hi dosoto ankit is here 
          </p>

      </div>
     <!-- link section -->
      <div class="f-links">
         <h3> links</h3>
         <ul>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">home</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">about</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">about us</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">iisc</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">knit</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">startup</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">let's rock</a>
            </li>

         </ul>
      </div>
       <!-- 2nd <section></section>  -->
       <div class="f-services">
        <h3>services</h3>
        <ul>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">web development</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">mern</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">project</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">portfolio</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">success</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">go ahead</a>
            </li>
            <li>
                <span><ion-icon name="arrow-forward-outline"></ion-icon></span>
                <a href="#">javascript</a>
            </li>

         </ul>

       </div>
      
       <!-- address -->
       <div class="f-address">
        <h3>Do you have any question?</h3>
        <address>
            <div>
                <p>
                    <span><ion-icon name="location-outline"></ion-icon></ion-icon></span>
                    IISC Knit,Sultanpur
                </p>
            </div>
            <div>
                <p>
                    <span><ion-icon name="call-outline"></ion-icon></span>
                    <a href="tel:+918840928683">+91 8840928683</a>
                </p>
            </div>
            <div>
                <p>
                    <span><ion-icon name="mail-outline"></ion-icon></span>
                    <a href="mailto:vaibhavpathak852947@gmail.com">vaibhavpathak852947@gmail.com</a>
                </p>
            </div>
        </address>

       </div>

       
  </div>

  <!-- footer remaining  -->
  <div class="container ">

    <div class="f-social-icons d-flex justify-content-center  ">
        <a href="https://www.instagram.com/iisf_knit/" target="_blank">
            <ion-icon class="instagram" name="logo-instagram"></ion-icon>
        </a>
        <a href="https://www.facebook.com/startupcell.knit" target="_blank">
            <ion-icon class="facebook" name="logo-facebook"></ion-icon>
        </a>
        <a href="https://twitter.com/iisf_knit" target="_blank">
            <ion-icon class="twitter" name="logo-twitter"></ion-icon>
        </a>
    </div>

    <div class="f-credits d-flex justify-content-center ">
        <p>
            &#169;copyright,All copyright reserved by knitians(2022). 
            mady by ❤ knitians. 
        </p>

    </div>

  </div>

</footer>
