<header>
    <nav>
        <img src="/images/logo.png" alt="">
    
        <label for="drop" class="toggle list"><ion-icon name="list-outline" style="width: 25px; height: 25px;"></ion-icon></label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="#" class="underline">HOME</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-1" class="toggle">ABOUT</label>
                <a class="tobedrop">ABOUT</a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li><a href="/vision" class="underline">Our Vision</a></li>
                    <li><a href="#team" class="underline">Our Team</a></li>
                </ul>
    
            </li>
            <li>
    
                <!-- First Tier Drop Down -->
                <a href="/events" class="underline">EVENTS</a>
                <!-- <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a href="/events" class="underline">Events</a></li>
                    
                </ul> -->
            </li>
            <li><a href="#startup" class="underline">INCUBATED STARTUPS</a></li>
            <li><a href="#join" class="underline">JOIN US</a></li>
            <li><a href="#contact" class="underline">CONTACT</a></li>
        </ul>
    </nav>
</header>