<header>
    <nav>
        <img src="/images/logo.png" alt="">
    
        <label for="drop" class="toggle"></label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="#">HOME</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <a href="#" class="tobedrop">ABOUT</a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li><a href="/vision" class="underline">Our Vision</a></li>
                    <li><a href="#" class="underline">Plugins</a></li>
                    <li><a href="#" class="underline">Tutorials</a></li>
                </ul>
    
            </li>
            <li>
    
                <!-- First Tier Drop Down -->
                <a href="#" class="tobedrop">EVENTS</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a href="#" class="underline">Resources</a></li>
                    <li><a href="#" class="underline">Links</a></li>
                    <li>
    
                        <!-- Second Tier Drop Down -->
                        <label for="drop-3" class="toggle">Tutorials +</label>
                        <a href="#" class="tobedrop">Tutorials</a>
                        <input type="checkbox" id="drop-3" />
    
                        <ul>
                            <li><a href="#" class="underline">HTML/CSS</a></li>
                            <li><a href="#" class="underline">jQuery</a></li>
                            <li><a href="#" class="underline">Other</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#" class="underline">INCUBATED STARTUPS</a></li>
            <li><a href="#" class="underline">BLOGS</a></li>
            <li><a href="#" class="underline">CONTACT</a></li>
        </ul>
    </nav>
</header>