<header>
    <nav>
        <img src="/images/logo.png" alt="">
    
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="#">HOME</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <a href="#" class="tobedrop">ABOUT</a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li><a href="#">Themes</a></li>
                    <li><a href="#">Plugins</a></li>
                    <li><a href="#">Tutorials</a></li>
                </ul>
    
            </li>
            <li>
    
                <!-- First Tier Drop Down -->
                <a href="#" class="tobedrop">EVENTS</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Links</a></li>
                    <li>
    
                        <!-- Second Tier Drop Down -->
                        <label for="drop-3" class="toggle">Tutorials +</label>
                        <a href="#" class="tobedrop">Tutorials</a>
                        <input type="checkbox" id="drop-3" />
    
                        <ul>
                            <li><a href="#">HTML/CSS</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">Other</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">INCUBATED STARTUPS</a></li>
            <li><a href="#">BLOGS</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
</header>