<link rel="stylesheet" href="css/events.css">

 <div id="progress">
    <span id="progress-value">&#x1F815;</span>
  </div>
<section class="sticky d-flex flex-column justify-content-center align-item-center">
    <div class="sticky-container aos-init aos-animate">
        <h1>Our Initiatives</h1>
    </div>
    <section class="typing-container">
        <p><span class="typing-text"></span></p>
    </section>
</section>
<div class="bql">
<br>
<h2 class="hr-lines">Programs and Events</h2>

<section class="tussel">
    <div class="three1">
        <h1>UDGAM</h1>
        <div class="tag imp" style="color: #cfc7c7;"><i> "Opportunities don't happen, You Create them." -Chris Grosser</i></div>
    </div>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>
        <div class="imp">Don't like coding? Need Career guidance and opportunities in the E-commerce Ecosystem?
            The IISF KNIT Sultanpur in collaboration with 'DIGIACCELL' brings you a synergistic open talk session, 'UDGAM', where Mr. Aalekh Tripathi, the co-founder of 'DIGIACCELL' and an Alumni of IIM Ahmedabad will be the key speaker of the session. Our motto is to create awareness on the challenges being faced by students who are not much aware of coding and introduce them to digital commerce through an application based curriculum. Get directions and doubts resolution with this interactive webinar.
            <br>
            VENUE: Electrical Seminar hall
            <br> DATE: 12 Nov 2022
             <br> TIMING: 1:30 PM</div>

        
</section>
<section class="none">
    <div class="three2">
        <h1>NAVOMESH</h1>
        <div class="tag imp"><i> "Learning gives creativity, creativity leads to thinking, thinking provides knowledge, knowledge makes you great."</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>

        <div class="imp">To commemorate the National Innovation Day we cordially invite you to "नवोन्मेस" on the occasion of the 91st birth anniversary of our Former President and great scientist Dr A.P.J Abdul Kalam popularly known as 'The Missile Man' of India, he has made significant contributions towards the field of innovation and invention. <br>
            As the startup foundation of our institute, we would like to extend our heartfelt welcome to you as we pay tribute to the well renowned personality on this day and honour it with an informative and motivating event which will include illuminating session on startup policies followed by panel discussion between the founders of emerging startups on 15th October 2022.</div>
        


</section>

<section class="tussel">
    <div class="three3">
        <h1>Tussle</h1>
        <div class="tag imp" style="color: #cfc7c7;"><i> " The Harder the Battle, The Sweeter the Victory"</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/t6.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/t3.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/t4.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/t1.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/t5.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/t2.jpg);"></div>
      </div>
      <div></div>
    </div>
        <div class="imp">We at IISC are more than jubilant to announce the winner of our mega event TUSSLE - ' Team Chakra' and runner up - ' Team Revamp '. Congratulations to them on their Stupendous Performance. We would also like to felicitate some individual performances.
            <br>
            Best Debater - Shivam Varshney <br>
            Best Rebuttal - Sudhanshu Chaubey <br>
            Best Representer - Gaurpad Shukla <br>
            Best Respondent - Akshat Mishra <br>
            We thank all the other participants for their enthusiastic participation and wish them luck for their future endeavours.</div>
        

</section>
<section class="none">
    <div class="three4">
        <h1>Hackathon</h1>
        <div class="tag imp"><i>"Starting your own business is like riding a roller coaster. There are highs and lows and every turn you take is another twist. The lows are really low, but the highs can be really high. You have to be strong, keep your stomach tight, and ride along with the roller coaster that you started."</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/h2.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h3.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h4.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h1.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h6.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h7.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h13.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h8.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h9.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h10.jpg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/h12.jpg) ;  "></div>
      </div>
      <div></div>
    </div>
        <div class="imp">What do you need to start a business? Three simple things: know your product better than anyone, know your customer, and have a burning desire to succeed.
            "Starting your own business is like riding a roller coaster. There are highs and lows and every turn you take is another twist. The lows are really low, but the highs can be really high. You have to be strong, keep your stomach tight, and ride along with the roller coaster that you started."<br> IISc brings you the opportunity through 𝐇𝐀𝐂𝐊𝐀𝐓𝐇𝐎𝐍, a pitching event for those who strive to create a change in the society through their out of the box ideas, zeal and ardour! Register now to show your worth and potential to the world of transforming dreams into reality.
            Winners will get exciting goodies and do not forget the pre incubation assistance for building their business model into a prototype.</div>

</section>
<section class="tussel">
    <div class="three5">
        <h1>Tradeverse</h1>
        <div class="tag imp" style="color: #cfc7c7;"><i> Introducing to you the speaker for the big day - Mr. Shubham Shekhar, an expert in the field of trading and investment. </i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>
        <div class="imp">IISC in collaboration with Trademanza presents to you TRADEVERSE - a mock trading event to familiarise you with the cosmos of trading and investment. Tradeverse presents this opportunity to young visionaries to showcase killer strategy, general and financial awareness, critical thinking, risk taking and analytical ability.
            A webinar to familiarise you with various concepts of finance such as investment, maximization of net worth followed by an exciting mock trading contest giving real life experience at hand.
            Participate and get a chance of winning exciting prizes and certificates while learning valuable skills. 
            Trademanza</div>

        
</section>
<section class="none1">
    <div class="three6">
        <h1>Adjuxta</h1>
        <div class="tag imp"><i> "Failure is not the end, it's just a stepping stone for further improvement and the future success. "</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>
        <div class="imp" >Participation of numerous enthusiastic teams with their incredible insights has made this event a huge success. It was a pleasure to witness all the great works. We wish you all the very best for your future! <br>
            Winners <br>
            First Prize-: <br>
            Team A -  Aviral Singh <br>
            Second Prize-: <br>
            Alpha -  Vishwas Verma, Rishi Srivastava <br>
            Third Prize-: <br>
            Tropper -  Ishan <br>
            Consolation Prize-: <br>
            Slammers – Deepanshi, Gaurav Kumar & Amitesh Singh <br>
            Innovative vs - Siddharth Mishra, Vipul Raj Tiwari <br>
            Congratulations to all the winners. You will be contacted by the IISC team for the prizes.</div>

</section>
<br>
<br>

</div>
