<section class="sticky d-flex flex-column justify-content-center align-item-center">
    <div class="sticky-container aos-init aos-animate">
        <h1>Our Initiatives</h1>
    </div>
    <section class="typing-container">
        <p><span class="typing-text"></span></p>
      </section>
</section>