<section class="sticky d-flex flex-column justify-content-center align-item-center">
    <div class="sticky-container aos-init aos-animate">
        <h1>Our Initiatives</h1>
    </div>
    <section class="typing-container">
        <p><span class="typing-text"></span></p>
    </section>
</section>
<br>
<h2 class="hr-lines">Programs and Events</h2>
<br>
<section class="tussel">
    <div class="three1">
        <h1>Tussle</h1>
        <div class="tag"><i> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime deserunt dolores vel illum labore excepturi omnis modi obcaecati, impedit repudiandae. Idoloremque beat nisi qui quam ducimus totam ad praesentium! Nobis aliquid quaeratenim ea quam omnis amet, mollitia fugit sapiente, consectetur . Maiores tempora hic dolores tenetur!"</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>
    
        <br><br>
        <div class="imp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, obcaecati deserunt, numquam et natus dolorum perspiciatis vero nulla dolorem in harum dignissimos iusto reprehenderit itaque ea labore aliquid voluptatibus! Laudantium natus nihil, perspiciatis cum commodi, dolorum debitis corporis, corrupti dicta ipsam soluta eius ea. Quia repellendus quaerat, aliquam nostrum mollitia in ullam! Quidem, tenetur fugiat autem error itaque accusantium tempore consequatur quod qui nemo? Consectetur ducimus perspiciatis aperiam quos doloribus atque, nobis saepe quam non, aut, exercitationem asperiores error architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, asperiores magni? Illum eos doloremque nostrum officiis maxime, nobis deleniti nemo praesentium suscipit omnis mollitia, fugit quod nulla. Iste asperiores voluptatum nobis iusto, at laudantium maiores, molestiae earum expedita eveniet ullam tempore excepturi quisquam quasi delectus cum fuga sapiente quibusdam repudiandae reiciendis facilis assumenda! Dignissimos quibusdam dolor soluta, perspiciatis magnam enim dolores amet, recusandae saepe aspernatur error ea deserunt nam incidunt voluptates animi iure! Dolore, rem! Consequuntur dolore nisi, dolorem quae rerum magnam quibusdam tenetur et odit iste molestiae consectetur optio dicta, laboriosam quas repudiandae accusamus suscipit odio consequatur. Quia, illum!</div>

        
</section>
<section class="none">
    <div class="three2">
        <h1>Hackathon</h1>
        <div class="tag"><i> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime deserunt dolores vel illum labore excepturi omnis modi obcaecati, impedit repudiandae. Idoloremque beat nisi qui quam ducimus totam ad praesentium! Nobis aliquid quaeratenim ea quam omnis amet, mollitia fugit sapiente, consectetur . Maiores tempora hic dolores tenetur!"</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>
    
        <br><br>
        <div class="imp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, obcaecati deserunt, numquam et natus dolorum perspiciatis vero nulla dolorem in harum dignissimos iusto reprehenderit itaque ea labore aliquid voluptatibus! Laudantium natus nihil, perspiciatis cum commodi, dolorum debitis corporis, corrupti dicta ipsam soluta eius ea. Quia repellendus quaerat, aliquam nostrum mollitia in ullam! Quidem, tenetur fugiat autem error itaque accusantium tempore consequatur quod qui nemo? Consectetur ducimus perspiciatis aperiam quos doloribus atque, nobis saepe quam non, aut, exercitationem asperiores error architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ut explicabo sequi eius molestiae laudantium placeat minus modi labore, consectetur adipisci ab accusantium eaque similique iste veritatis distinctio doloremque tempore? Suscipit, ipsa! Nemo quam, fuga placeat veritatis officia, tenetur iure ducimus eum quia labore modi vel et. Eligendi, veritatis! Exercitationem culpa libero esse quis officia possimus ab? Quas nostrum quasi esse, tempora, voluptates magnam dolore labore et maiores eligendi consequatur quia repellendus nisi libero quo quae saepe fugit odio fuga, earum qui quos rem? Omnis alias ducimus aperiam hic eos odio, possimus expedita quia voluptatum, sint ab beatae ut non!</div>
        
    </div>
    </div>
</section>

<section class="tussel">
    <div class="three3">
        <h1>Adjuxta</h1>
        <div class="tag"><i> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime deserunt dolores vel illum labore excepturi omnis modi obcaecati, impedit repudiandae. Idoloremque beat nisi qui quam ducimus totam ad praesentium! Nobis aliquid quaeratenim ea quam omnis amet, mollitia fugit sapiente, consectetur . Maiores "</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>
    
        <br><br>
        <div class="imp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, obcaecati deserunt, numquam et natus dolorum perspiciatis vero nulla dolorem in harum dignissimos iusto reprehenderit itaque ea labore aliquid voluptatibus! Laudantium natus nihil, perspiciatis cum commodi, dolorum debitis corporis, corrupti dicta ipsam soluta eius ea. Quia repellendus quaerat, aliquam nostrum mollitia in ullam! Quidem, tenetur fugiat autem error itaque accusantium tempore consequatur quod qui nemo? Consectetur ducimus perspiciatis aperiam quos doloribus atque, nobis saepe quam non, aut, exercitationem asperiores error architecto. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut atque rerum nam dolor, ex voluptatem in qui impedit dolore consequuntur, quibusdam voluptas doloremque sint perspiciatis omnis. Error deleniti fugiat fugit recusandae asperiores libero nostrum quam quidem cum tempora nam labore adipisci, veniam ad aut. Quaerat dolores ipsam atque nulla! Nobis dolores animi eligendi non ducimus. Impedit error rerum minus illum quibusdam quae eveniet? Impedit, vero sint! Sunt dolore quaerat et sint laudantium, soluta, laborum eveniet totam, illum vitae repudiandae excepturi modi provident quod? Quod pariatur accusamus iusto repellendus ad, voluptates nihil iure dignissimos expedita omnis maxime eum, voluptatum in placeat?</div>
        
    </div>
    </div>
</section>
<section class="none">
    <div class="three4">
        <h1>Tradeverse</h1>
        <div class="tag"><i> "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime deserunt dolores vel illum labore excepturi omnis modi obcaecati, impedit repudiandae. Idoloremque beat nisi qui quam ducimus totam ad praesentium! Nobis aliquid quaeratenim ea quam omnis amet, mollitia fugit sapiente, consectetur . Maiores tempora hic dolores tenetur!"</i></div>
    </div><br>
    <div class="container d-flex justify-content-between ayog-div">
        <div></div>
    <div class="arousel" data-flickity='{ "wrapAround": true }'>
        <div class="arousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="arousel-cell" style="background-image: url(/images/4.jpeg);"></div>
      </div>
      <div></div>
    </div>
    
        <br><br>
        <div class="imp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, obcaecati deserunt, numquam et natus dolorum perspiciatis vero nulla dolorem in harum dignissimos iusto reprehenderit itaque ea labore aliquid voluptatibus! Laudantium natus nihil, perspiciatis cum commodi, dolorum debitis corporis, corrupti dicta ipsam soluta eius ea. Quia repellendus quaerat, aliquam nostrum mollitia in ullam! Quidem, tenetur fugiat autem error itaque accusantium tempore consequatur quod qui nemo? Consectetur ducimus perspiciatis aperiam quos doloribus atque, nobis saepe quam non, aut, exercitationem asperiores error architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae quaerat labore perferendis blanditiis laboriosam repellat possimus iusto deleniti explicabo et dolor, asperiores perspiciatis molestiae nam voluptatem neque ratione veniam ut, ab doloremque iure vel. Dolorem eveniet laudantium alias voluptatem nihil aut. Delectus quasi voluptas repellat quam? Molestias dolore amet nihil vitae ut, praesentium ipsum aliquid dolores atque optio ad natus nisi quasi obcaecati, animi eum ab possimus. Nobis autem rerum, soluta laboriosam voluptatibus non neque dolores quod illo ut laudantium, dolorum, quasi consectetur obcaecati est expedita. Dolor iure ullam repellat! Enim sapiente error optio temporibus suscipit in, numquam dolorum?</div>
        
    </div>
    </div>
</section>
