<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/home.css" />
    <title>
        <%=title%>
    </title>
</head>

<body>

    <div class="carousel" data-flickity='{ "wrapAround": true }'>

        <div class="carousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="carousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="carousel-cell" style="background-image: url(/images/4.jpeg);"></div>

    </div>

    <section id="team">
        <div id="head">
            <figure class="text-center">
                <blockquote class="blockquote" style="color: black;
                font-weight: 800;">
                    <p>Our Team</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    OUR TORCHBEARERS FOR THE PATH
                </figcaption>
            </figure>
        </div>
        <div id="main">
            <div class="card" style="width: 18rem;">
                <img src="/images/vaibhav.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Vaibhav Pathak</h3>
                    <h6 style="color: #7cc576;">Secretary</h6>
                    <br>
                    <h6 style="color: black;" >KNITIAN</h6>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/ankit.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Ankit Kumar Chaudhary</h3>
                    <h6 style="color: #7cc576;">Secretary</h6>
                    <br>
                    <h6 style="color: black;" >KNITIAN</h6>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/images/aditya.jpeg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>Aditya Agnihotri</h3>
                    <h6 style="color: #7cc576;">Secretary</h6>
                    <br>
                    <h6 style="color: black;" >KNITIAN</h6>
                    
                </div>
            </div>
        </div>
    </section>

</body>