<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/home.css" />
    <title>
        <%=title%>
    </title>
</head>

<body>
   
    <div class="carousel" data-flickity='{ "wrapAround": true }'>
        <div class="carousel-cell" style="background-image: url(/images/2.jpeg);"></div>
        <div class="carousel-cell" style="background-image: url(/images/3.jpeg);"></div>
        <div class="carousel-cell" style="background-image: url(/images/4.jpeg);"></div>

    </div>
    <h2 class="hr-lines">Programs and Events</h2>
    <div style="text-align: center;"><h1 class="latest" >Latest </h1><h1 class="latest Announcement" > Announcement</h1></div>
    <div class="slider">
        <input type="radio" name="testimonial" id="t-1" />
        <input type="radio" name="testimonial" id="t-2" />
        <input type="radio" name="testimonial" id="t-3" checked />
        <input type="radio" name="testimonial" id="t-4" />
        <input type="radio" name="testimonial" id="t-5" />
        <div class="testimonials mb-8">
          <label class="item" for="t-1">
            <div class="mycard">
              <p class="cardtitle">Práctica</p>
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="carddescription">It is an event where we share our idea to our innovation club.</p>
              </div>
            </div>
          </label>
          <label class="item" for="t-2">
            <div class="mycard">
              <p class="cardtitle">Práctica</p>
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
              </div>
            </div>
          </label>
          <label class="item" for="t-3">
            <div class="mycard">
              <p class="cardtitle">Tussel</p>
              <div>
                <img src="/images/hackathon.jpeg" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="carddescription">It is an event where we share our idea to our innovation club.</p>
              </div>
            </div>
          </label>
          <label class="item" for="t-4">
            <div class="mycard">
              <p class="cardtitle">Práctica</p>
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
              </div>
            </div>
          </label>
          <label class="item" for="t-5">
            <div class="mycard">
              <p class="cardtitle">Práctica</p>
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="carddescription">Poner en práctica los conocimientos adquiridos.</p>
              </div>
            </div>
          </label>
        </div>
        <div class="dots">
          <label for="t-1"></label>
          <label for="t-2"></label>
          <label for="t-3"></label>
          <label for="t-4"></label>
          <label for="t-5"></label>
        </div>
      </div>
      
</body>