<link rel="stylesheet" href="/css/join.css">
<section id="join">
    <div id="head">
        <div id="sub-head">
            <h1 id="title">Incubation at IISF</h1>
            <p id="write">
                <a href="#" style="color: white; margin-right: 4px; ">Home</a>
                <span style="color: #FFF;margin-right: 4px;">></span>
                <a href="/join" style="color: #f4913f;margin-right: 4px;">Incubation at IISF</a>
            </p>
        </div>
    </div>

    <div id="start">
        <h1>Step into a world-leading Incubator for seed and pre-seed startups.</h1>
        <p>The SIIC Incubator is a highly-customized, equity-based program that helps venture-backable tech startups
            grow their business over the course of 18 months.</p>
        <div class="just">
            <div id="container">
                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">APPLY FOR INCUBATION</span>
                </button>
            </div>
        </div>
    </div>

    <div id="challenge">
        <div class="title">
            <h1 style="font-weight: 800;">Your challenges</h1>
            <h1>for Incubation</h1>
        </div>

        <div id="cards">
            <div class="items">
                <img src="/images/acess.jpg" alt="">
                <div class="subtitle">Access to appropriate technology & infrastructure</div>
            </div>
            <div class="items">
                <img src="/images/credibility.jpg" alt="">
                <div class="subtitle">Establishing credibility in the market
                    to prove</div>
            </div>
            <div class="items">
                <img src="/images/experts.jpg" alt="">
                <div class="subtitle">Access to subject experts and industrial leaders</div>
            </div>
            <div class="items">
                <img src="/images/prototype.jpg" alt="">
                <div class="subtitle">Product development from ideation to prototype stage</div>
            </div>
        </div>
    </div>


    <div id="offer">
        <div class="title">
            <h1>What we</h1>
            <h1 style="font-weight: 800;">offer</h1>
        </div>

        <div id="offers">
            <div class="it">
                <h1>Market</h1>
                <p>Our innovators/ startups are connected with viable funding and networking opportunities to fast-track their growth. We help founders nurture relationships with peers, and facilitate connection with an expert, professional network.</p>
            </div>
            <div class="it2">
                <img src="offer1.jpg" alt="">
            </div>
            <div class="it">
                <h1>Community</h1>
                <p>Our innovators/ startups get access to an amazing community of business leaders, investors, managers with proven experience, and faculty at IIT Kanpur offering unmatched technical and business expertise.</p>
            </div>
            <div class="it">
                <h1>Infrastructure</h1>
                <p>Our innovators/ startups have access to world class infrastructure at IIT Kanpur at faculty/student rates.</p>
            </div>
            <div class="it">
                <h1>Capital</h1>
                <p>We provide founders access to multiple funding pipelines throughout their startup journey. Our programs offer mentorship and technical support across ideation, prototype, and seed stage. We offer some major schemes like SPARSH, BIG, TIDE 2.0, NIDHI EiR, IAIN across domains.</p>
            </div>
            <div class="it2">
                <img src="offer2.jpg" alt="">
            </div>
        </div>
    </div>
</section>