<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2 class="heading">Vision And Mission</h2>
    </div>
    <div class="row first" style="background-color:rgb(236, 245, 253)" data-aos="fade-left">
      <div class="col-lg-6" data-aos="fade-right">
        <div class="image" style="height: 100%;">
          <img src="/images/vision update1.jpg" class="img-fluid" style="height: 100%;" alt="">
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
          <h3>Vision</h3>
          <p class="font-italic ">
            <span>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </span>
            To attain the global level of excellence in fostering research innovation leadership qualities and
            entrepreneurial attitude, contributing for achieving national goal towards Make in India and startup.
          </p>
          <h3>Mission</h3>
          <p class="font-italic mt-2 py-10">
          <div class="span-section mt-10">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            To enhance knowledge and skills of students in generating ideas to solve problems through science and
            technology.
          </div>
          <div class="span-section">

            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            To create environment for facilitating the global vision of inclusive education that inculcate values of
            equality and brotherhood among students

          </div>

          <div class="span-section">

            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            To develop unique culture that instills responsibility and accountability in relationship with family,
            society and environment/nature.
          </div>

          <div class="span-section">

            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            To create an ambience and eco-system in promoting entrepreneurial culture with high level of ethics
            communication and leadership qualities.
          </div>

          </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->

<!-- ======= Services Section ======= -->
<section class="services">

  <div class="section-title" data-aos="fade-up">
    <h2 class="heading">Structure of the Incubation Center</h2>
  </div>
  <div class="container second" style="background-color:rgb(251, 251, 251)" data-aos="fade-left">

    <div class="section-title" data-aos="fade-up">
      <!-- <h2>People's Desk</h2> -->
      <!-- <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p> -->
    </div>

    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
          <!-- <i class="bx bx-receipt"></i> -->

          <h4>Innovation, Incubation & Startup Cell</h4>
          <p>“Advice is like a snow flake- the softer it falls, the longer it dwells upon, and the deeper it sinks into
            mind.” My only advice to all our members is to not only dream but also achieve, become a perfect combination
            of a doer and a dreamer. One needs three things to create a successful start-up: to start with good people,
            to make something people actually want, to spend as little money as possible, and this cell is place where
            your ideas can build up in reality, if you try.

          </p>
        </div>
        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
          <!-- <i class="bx bx-cube-alt"></i> -->
          <h4>FROM THE CONVENOR'S DESK</h4>
          <p>Nurturing ideas and inspiring innovation are the key elements behind a successful startup and this purpose
            is served by our Innovation, Incubation and Star-up cell. The cell’ s work is commendable and inspirational
            for the students, later to achieve brilliance in the future. The cell gives them the courage to present
            their ideas among people and they also get to know and meet different other start-ups out there in the world
            which motivates them.</p>
        </div>


      </div>
      <div class="image col-lg-6 order-1 order-lg-2 img-fluid"
        style='background-image: url("/images/incubation structure.jpg"); background-repeat: no-repeat;'
        data-aos="fade-left" data-aos-delay="100"></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class=" col-sm link1">
        <ion-icon name="locate-outline" style="color:rgb(106, 181, 55)"></ion-icon>
        <p>
          Any innovative ideas/technologies that solves the day to day problems of rural and urban areas
        </p>
      </div>
      <div class="col-sm link1">
        <ion-icon name="location-outline" style="color:rgb(7, 7, 56)"></ion-icon>
        <p>
          Kamla Nehru Institute of Technology, Sultanpur UP
        </p>
      </div>
      <div class="col-sm link1">
        <ion-icon name="people" style="color:rgb(42, 255, 159)"></ion-icon>
        <p>
          3 members
        </p>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h3 class="heading">Organization STRUCTURE</h3>
    </div>
    <div class="row third" style="background-color:rgb(236, 245, 253)">
      <div class="col-lg-6" data-aos="fade-left">
        <div class="image" style="height: 100%;">
          <img src="/images/org structure.jpg" class="img-fluid" style="height: 100%;" alt="">
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left" style="margin-top:28px;">
        <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
          <h3>It's not enough to have a vision, you have to take harsher steps to protect it.</h3>
          <p class="font-italic ">
            Ministry of Human Resource Development (MHRD), Govt. of India has established ‘MHRD’s Innovation Cell (MIC)’
            to systematically foster the culture of Innovation amongst all Higher Education Institutions (HEIs). The
            primary mandate of MIC is to encourage, inspire and nurture young students by supporting them to
            work with new ideas and transform them into prototypes while they are informative years.
          </p>


          <p class="font-italic mt-2">
            MIC has envisioned encouraging creation of ‘Institution’s Innovation Council (IICs)’ across selected HEIs. A
            network of these IICs will be established to promote innovation in the Institution through multitudinous
            modes leading to an innovation promotion eco-system in the campuses.
          </p>
        </div>
      </div>
    </div>

  </div>



</section><!-- End About Us Section -->

<!-- ======= Services Section ======= -->
<section class="services">
  <div class="container" style="
      margin: 46px auto;
  ">
    <div class="section-title" data-aos="fade-up">
      <div class="head">
        <h2 class="heading">Focus Areas</h2>
        <div class="details d-flex justify-content-between">
          <span class="plus">
            <ion-icon name="arrow-forward-circle-outline" style="color:rgb(105, 138, 138)"></ion-icon>
            <h4>
              Domain
            </h4>
          </span>
          <span class="plus">
            <ion-icon name="arrow-forward-circle-outline" style="color:rgb(105, 138, 138) !important"></ion-icon>
            <h4>
              Sectors
            </h4>
          </span>
          <span class="plus">
            <ion-icon name="arrow-forward-circle-outline" style="color:rgb(105, 138, 138)"></ion-icon>
            <h4>
              Industry
            </h4>
          </span>
        </div>

      </div>

      <div class="template-wrap" style="background-color:rgb(251, 251, 251)" data-aos="fade-left">

        <div class="ep-flowchart" style="height:392px; padding:20px; background: black;" id="ep-flowchart">
          <div class="ep-svg-wrap" style="margin:115px;">
            <div class="flow_chart d-flex justify-content-center align-item-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" style="height: 392px;
                margin: -134px -149px;">
                <g id="Page-1" fill="none" fill-rule="evenodd">
                  <g id="Course-Template">
                    <g id="arrows" transform="translate(163 98)">
                      <g id="arrows/arrow-1.2" transform="rotate(90 69.5 70)">
                        <g id="arrow-1.2">
                          <path id="Line" stroke="#89969F" stroke-linecap="square" d="M.336 2.5h38.46" />
                          <polygon id="Triangle" fill="#89969F" points="37 5 37 0 40 2.5" />
                        </g>
                      </g>
                      <g id="arrows/arrow-1.2-copy" transform="rotate(90 27.5 112)">
                        <g id="arrow-1.2">
                          <path id="Line" stroke="#89969F" stroke-linecap="square" d="M.336 2.5h38.46" />
                          <polygon id="Triangle" fill="#89969F" points="37 5 37 0 40 2.5" />
                        </g>
                      </g>
                      <g id="arrows/arrow-4" transform="rotate(90 53 220.5)">
                        <g id="arrow-4">
                          <path id="Path-4" stroke="#89969F"
                            d="M87 3H38.009C32.48 3 28 7.48 28 13v247c0 5.523 4.483 10 10.009 10H87" />
                          <path id="Path-5" stroke="#89969F" d="M28.5 137H.996" />
                          <polygon id="Triangle-2-Copy-2" fill="#89969F" points="87 6 87 0 90 3" />
                          <polygon id="Triangle-2-Copy-4" fill="#89969F" points="87 273 87 267 90 270" />
                        </g>
                      </g>
                      <g id="arrow-2" transform="translate(3 335)">
                        <path id="Path-2" stroke="#89969F" d="M0 0v73.009C0 78.527 4.485 83 9.992 83H70" />
                        <polygon id="Triangle-2" fill="#89969F" points="70 86 70 80 73 83" />
                      </g>
                      <g id="arrow-2-copy" transform="matrix(-1 0 0 1 271 335)">
                        <path id="Path-2" stroke="#89969F" d="M0 0v73.009C0 78.527 4.485 83 9.992 83H70" />
                        <polygon id="Triangle-2" fill="#89969F" points="70 86 70 80 73 83" />
                      </g>
                    </g>
                    <g id="ep-content" class="ep-svg-block" @click="{{ display = true; selected = 'ep-content' }}"
                      transform="translate(229 56)">
                      <rect id="Rectangle" width="141" height="40" fill="#8BE5AD" rx="20" />
                      <text id="Content" fill="#586075" font-family="Roboto-Regular, Roboto" font-size="18"
                        letter-spacing="1">
                        <tspan x="4.022" y="25">AGRICULTURE</tspan>
                      </text>
                    </g>
                    <g id="ep-form" class="ep-svg-block" @click="{{ display = true; selected = 'ep-form' }}"
                      transform="translate(244 140)">
                      <rect id="Rectangle" width="112" height="40" fill="#8BE5AD" rx="20" />
                      <text id="Content" fill="#586075" font-family="Roboto-Regular, Roboto" font-size="18"
                        letter-spacing="1">
                        <tspan x="15.964" y="25">FINTECH </tspan>
                      </text>
                    </g>
                    <g id="ep-media" class="ep-svg-block" @click="{{ display = true; selected = 'ep-media' }}"
                      transform="translate(239 224)">
                      <rect id="Rectangle" width="122" height="40" fill="#8BE5AD" rx="20" />
                      <text id="Content" fill="#586075" font-family="Roboto-Regular, Roboto" font-size="18"
                        letter-spacing="1">
                        <tspan x="20.49" y="25">PHARMA</tspan>
                      </text>
                    </g>
                    <g id="ep-unity" class="ep-svg-block" @click="{{ display = true; selected = 'ep-unity' }}"
                      transform="translate(241 496)">
                      <rect id="Rectangle" width="118" height="40" fill="#8BE5AD" rx="20" />
                      <text id="Content" fill="#586075" font-family="Roboto-Regular, Roboto" font-size="18"
                        letter-spacing="1">
                        <tspan x="20.589" y="25">EDUTECH</tspan>
                      </text>
                    </g>
                    <g id="ep-elements" class="ep-svg-block" @click="{{ display = true; selected = 'ep-elements' }}"
                      transform="translate(66 357)">
                      <rect id="Rectangle" width="180" height="75" fill="#8BE5AD" rx="37" />
                      <text id="Elements-of-Design" fill="#586075" font-family="Roboto-Regular, Roboto" font-size="18"
                        letter-spacing="1">
                        <tspan x="40.046" y="40">PHARMA</tspan>
                        <tspan x="60.559" y="54"></tspan>
                      </text>
                    </g>
                    <g id="ep-principles" class="ep-svg-block" @click="{{ display = true; selected = 'ep-principles' }}"
                      transform="translate(335 357)">
                      <rect id="Rectangle" width="180" height="75" fill="#8BE5AD" rx="37" />
                      <text id="Principles-of-Organi" fill="#586075" font-family="Roboto-Regular, Roboto" font-size="18"
                        letter-spacing="1">
                        <tspan x="25.046" y="40">ELECTRONICS</tspan>
                        <tspan x="30.196" y="54"></tspan>
                      </text>
                    </g>
                  </g>
                </g>
              </svg>
            </div>


          </div>
          <!--  -->

        </div>

      </div>


    </div>


    <!-- <div class="section-title" data-aos="fade-up">
       
      </div> -->



  </div>
</section><!-- End Services Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2 class="heading">Progress Review</h2>
    </div>
    <div class="main-feature fifth" style="background-color:rgb(236, 245, 253)" data-aos="fade-left">
      <div class="image d-flex justify-content-center">
        <img src="/images/progress.jpg" class="img-fluid" alt="">
      </div>
      <div class="feature d-flex justify-content-between" style="margin-top:65px ;">
        <div class="feature1">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          <p>
            Whether the Incubator has been registered under the Companies Act - No (Under Process)
          </p>


          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            StartinUP Recognition: Yes
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Incubator Funding:
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            StartinUP Recognition: Yes
          </p>
          <p>
            <ion-icon name="arrow-redo-circle-outline"></ion-icon>
            Grant received from AKTU Rs. 50,00,000.00
          </p>

          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            StartinUP Recognition: Yes
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Whether the Incubation Policy has been made: No (Under Process)
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Whether the Incubation Process Flow has been created: Yes
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Whether the Startup Evaluation Process has been defined: Yes
            <br>
            Screening cum Advisory Committee evaluate the Startup through Online Presentation
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Whether the Startup Progress Review Process has been defined: No (Under

            Process)
          </p>
        </div>
        <div class="feature2">
          <div class="sub-heading">

            <h4>
              STARTUPS RELATED
            </h4>
            <div class="super-sub-heading">
              <p>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                No. of Startups Onboarded: 6
              </p>
              <p>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                Stages of the Startups(early stages/growth stage): One is on Early Stage and rest on Growth Stage

              </p>
              <p>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                Any funding support to startups Funds available through UP Startup
                Policy 2020:
              </p>
              <p>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                Any networking connects: Nil
              </p>
              <p>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                Startup Portfolio Management: Manage by the Incubation Manager
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
</section><!-- End About Us Section -->

<!-- ======= Services Section ======= -->
<section class="services">
  <div class="section-title" data-aos="fade-up">
    <h2 class="heading">Progress</h2>

    <h4 class="mentors d-flex justify-content-center">Mentors and Advisors Engaged:</h4>
  </div>
  <!-- <div class="progress">
        

    </div> -->
  <div class="main-container sixth" style="background-color:rgb(251, 251, 251);  margin: 60px 108px;"
    data-aos="fade-left">
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-sm w-100">
          <h4>Mentors</h4>
          <div class="content">
            <p>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              Mr. Manoj Kumar Gupta - Chief Manager, HAL Korwa
            </p>
            <p>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              Mr. Manoj Kumar Yadav - Manager, NTPC, Tanda
            </p>
            <p>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              Mr. Adhip Gupta - Grey Kernel, Banglore
            </p>
            <p>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              Mr. Gaurav Mittal - ITCONS, Noida
            </p>
          </div>

        </div>
        <div class="col-sm   ">
          <h4>Advisors</h4>
          <div class="content ">
            <p>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              Dr. Deepak Singh - CEO, DK Infosolutions Pvt. Ltd.
            </p>
            <p>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>

              Prof. Rajeev Srivastava - Professor & Dean Alumni
            </p>
            <p>
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              Resource and Planning IIT BHU Varanasi
            </p>
          </div>

        </div>

      </div>
    </div>
    <div class="botoom">
      <div class="content d-flex justify-content-center " data-aos="fade-up">
        <div class="content-inner">
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            No.Programs Running (Any Incubation/Gov. Programs) : Nill
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            No. of Events Conducted (Awareness Events/Outreach/Startup ecosystem
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            building/Community building Events): 4 Events conducted in collaboration with Institutions
            of Innovation's Council
          </p>
        </div>

      </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container-new">
    <div class="section-title" data-aos="fade-up">
      <h2 class="heading">Incubation/Incubator Offerings</h2>
    </div>
    <div class="offerings" style="margin: 60px 40px;">
      <div class="d-flex justify-content-center" style=" margin-top: -35px;
        padding-bottom: 40px;">
        <h3>Support to Startups</h3>
      </div>

      <div class="content seventh " style="background-color:rgb(236, 245, 253);
              margin: 0 108px;
          " data-aos="fade-left">
        <p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          To create culture of generating and promoting innovation and innovating products along with other institutions
          in this region.
        </p>
        <p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          To create culture of generating and promoting innovation and innovating products along with other institutions
          in this region.
        </p>
        <p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          M To enhance entrepreneurship skills and provide necessary environment and facilities to sustain the spirit of
          entrepreneurship
        </p>
        <p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          The college facilitates the startup application to avail benefits under STARTUP POLICY 2020.
        </p>
        <p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          Furnished office space (free initially for six months but likely to renew on the basis of performance)
        </p>
        <p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          Internet facility (free)
        </p>
        <p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          Mentoring support (will start soon)
        </p>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->
<!-- ======= Services Section ======= -->
<section class="services">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2 class="heading">Future Roadmaps</h2>
    </div>
    <div class="section-title" data-aos="fade-up">
      <!-- <h2>People's Desk</h2> -->
      <!-- <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p> -->
    </div>

    <div class="row eight  " style="background-color:rgb(251, 251, 251)" data-aos="fade-left">
      <div class="col-lg-6 order-2 order-lg-1">
        <div class="content" data-aos="fade-up">
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            To connect the Incubation Centre to nearby rural areas to create a ecosystem through various awareness
            programs
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Encourage students to understand and solve the agriculture and rural problems through resources available in
            Incubation Centre.
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Monthly Startup Discussion (Incubated Startups)
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            Signing of MoU with a legal firm for legal compliance in our incubation.
          </p>
          <p>
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            State level Startup Event in the middle of October-November for Startups, incubator, mentor and Directors of
            REC.
          </p>

        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2 " style='background-image: url("/images/roadmap update.jpg");'
        data-aos="fade-left" data-aos-delay="100"></div>
    </div>
  </div>
</section><!-- End Services Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container-thanks d-flex justify-content-center">
    <div class="info ">
      <h1>
        Thank You !
      </h1>
      <h4>
        Innovation Centre KNIT, Sultanpur (UP)
      </h4>
      <div class="button">
        <a href="/">
          <button class="button">
            Go To HomePage
          </button> </a>
      </div>

    </div>
    <!-- <div class="go back">
      
      </div> -->
  </div>
</section><!-- End About Us Section -->