/* body{
    background-color: aquamarine;
} */
header {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  word-wrap: break-word !important;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 100vh;
  left: 0px;
  right: 0px;
  z-index: 3000;
}

.sticky {
  width: 100%;
  height: 100vh;
  background: url(/images/initiatives.jpg);
  background-size: cover;
}
.bql{
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}
.sticky-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

.sticky h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 56px;
  color: #fff;

  font-family: "Raleway", Times, serif;

}


.typing-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;

  font-weight: bolder;
  font-family: "Raleway", Times, serif;

  font-size: 2rem;
}

.typing-text {
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(147, 7, 124);

  text-underline-offset: 8px;

}

.typing-text::after {
  content: "|";
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .typing-container {
    font-size: 1.5rem;
  }
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 3.5px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgb(138, 24, 134);
}

.hr-lines {
  position: relative;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(196, 26, 190);
  /*  new lines  */
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  margin-top: 9rem;
}


.hr-lines:after {
  content: " ";
  height: 3.5px;
  width: 100px;
  background: rgb(138, 24, 134);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.tussel {
  margin: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 60px;
  background: #092756;
 background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
 background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
 background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
 background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
 background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
  border: 13px solid rgb(233, 232, 232);
  border-radius: 5px;
  height: 20%;
  color: #ffffff;
  box-shadow: 0px 2px 16px #999;
  padding-bottom: 35px;
}

.none {
  margin: 350px;
  margin-top: 50px;
  margin-bottom: 50px;  
  margin-right: 60px;
  height: 20%;
  background-image: linear-gradient(#8b9da9, #fff6e4);
  border: 13px solid rgb(212, 207, 207);
  border-radius: 5px;
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  box-shadow: 0px 2px 16px #999;
  padding-bottom: 35px;
}
.none1{
  margin: 350px;
  margin-top: 50px;
  margin-bottom: 0px;  
  margin-right: 60px;
  height: 20%;
  background-image: linear-gradient(#8b9da9, #fff6e4);
  border: 13px solid rgb(212, 207, 207);
  border-radius: 5px;
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  box-shadow: 0px 2px 16px #999;
  padding: 15px;
  padding-bottom: 35px;
}

.three1 h1 {
  font-family: cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(147, 219, 14);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-left: 5px;
  padding-bottom: 3px;
  position: relative;
}

.three1 h1:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 5px;
  width: 40px;
  background-color: rgb(24, 138, 39);
}

.three1 h1:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 130px;
  background-color: rgb(24, 138, 39);
}


.three2 h1 {
  font-family: cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(31, 19, 85);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-left: 5px;
  padding-bottom: 3px;
  position: relative;
}

.three2 h1:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 5px;
  width: 50px;
  background-color: rgb(138, 24, 134);
}

.three2 h1:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 220px;
  background-color: rgb(138, 24, 134);
}

.three3 h1 {
  font-family: cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(147, 219, 14);
  font-weight: 800;
  letter-spacing: 0;
  padding-left: 5px;
  line-height: 1.5em;
  padding-bottom: 3px;
  position: relative;
}

.three3 h1:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 5px;
  width: 40px;
  background-color: rgb(24, 138, 39);
}

.three3 h1:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 120px;
  background-color: rgb(24, 138, 39);
}

.three4 h1 {
  font-family: cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(31, 19, 85);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-left: 5px;
  padding-bottom: 3px;
  position: relative;
}

.three4 h1:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: rgb(138, 24, 134);
}

.three4 h1:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 200px;
  background-color: rgb(138, 24, 134);
}
.three5 h1 {
  font-family:cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(147, 219, 14);
  font-weight: 800;
  letter-spacing: 0;
  padding-left: 5px;
  line-height: 1.5em;
  padding-bottom: 3px;
  position: relative;
}
.three5 h1:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 5px;
  width: 40px;
  background-color: rgb(24, 138, 39);
}
.three5 h1:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 220px;
  background-color: rgb(24, 138, 39);
}
.three6 h1 {
  font-family:cursive, Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(31, 19, 85);
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-left: 5px;
  padding-bottom: 3px;
  position: relative;
}
.three6 h1:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: rgb(138, 24, 134);
}
.three6 h1:after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 150px;
  background-color: rgb(138, 24, 134);
}
@media screen and (max-width:1400px) {
  .none {
    margin: 200px;
    margin-top: 40px;
    margin-bottom: 50px;  
    margin-right: 20px;
  }
  .none1{
    margin: 200px;
    margin-top: 40px;
    margin-bottom: 0px;  
    margin-right: 20px;
    height: 20%;
  }
  .tussel {
    margin: 200px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
}
@media screen and (max-width:900px) {
  .none {
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 50px;  
    margin-right: 20px;
  }
  .none1{
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 0px;  
    margin-right: 20px;
    height: 20%;
  }
  .tussel {
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
}
@media screen and (max-width:750px) {
  .none {
    margin: 50px;
    margin-right: 20px;
  }
  .none1{
    margin: 50px;
    margin-top: 40px;
    margin-bottom: 0px;  
    margin-right: 20px;
    height: 20%;
  }
  .tussel {
    margin: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
}
@media screen and (max-width:500px) {
  .none {
    margin: 10px;
    margin-right: 5px;
  }
  .none1{
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 0px;  
    margin-right: 5px;
    height: 20%;
  }
  .tussel {
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 5px;
  }
}



.btn-left,
.btn-right {

  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
  border: none;
  position: absolute;
  cursor: pointer;
  opacity: .75;
  transition: all .25s;
  z-index: 1;
}

.btn-left:hover,
.btn-right:hover {
  opacity: 1;
}

.btn-left {
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

.btn-right {
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}

.icon-left,
.icon-right {
  font-size: 2rem;
  color: #22b8cf;
}

.tag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(60, 57, 57);
}

.arousel {

  margin-top: 1%;
  margin-bottom: 1%;
  width: 90%;
  height: 50%;
}

.arousel-cell {
  width: 66%;
  margin: 10px;
  height: 400px;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

/* cell number */
.arousel-cell:before {
  display: block;
  content: '';
}

@media screen and (max-width:569px) {



  .arousel-cell {

    height: 300px;

  }
}

@media screen and (max-width:469px) {
  .arousel-cell {

    height: 200px;

  }

  .hr-lines:before {
    height: 3px;
    width: 70px;
  }

  .hr-lines:after {
    height: 3px;
    width: 70px;
  }
}

@media screen and (max-width:376px) {

  .arousel-cell {

    height: 150px;

  }

  .hr-lines:before {
    height: 3px;
    width: 35px;
  }

  .hr-lines:after {
    height: 3px;
    width: 35px;
  }
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
.imp{
  padding: 45px;
  padding-bottom: 0px;
  font-size: large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cimg{
  background-size:50%; 
  background-repeat: no-repeat;
}
@media screen and (max-width:1200px) {
  .cimg{
    background-size:70%; 
  }
}
@media screen and (max-width:700px) {
  .cimg{
    background-size:95%; 
  }
}