/* Carousel */
/* ----------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


.carousel {
  /* background: rgb(255, 255, 255); */
  margin-top: 5%;
  margin-bottom: 8%;
}

.carousel-cell {
  width: 66%;
  margin: 10px;
  height: 600px;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

/* cell number */
.carousel-cell:before {
  display: block;
  content: '';
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 3.5px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: -34px;
  background: rgb(138, 24, 134);
}

.hr-lines {
  position: relative;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(138, 24, 134);
  /*  new lines  */
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.hr-lines:after {
  content: " ";
  height: 3.5px;
  width: 100px;
  background: rgb(138, 24, 134);
  display: block;
  position: absolute;
  top: 50%;
  right: -34px;
}

@media screen and (max-width:788px) {
  /* .hr-lines::after{
    right: -36px;
  }
  .hr-lines::before{
    left: -36px;
  } */
}

.latest {
  display: inline;
  font-weight: 300;
}

.Announcement {
  font-weight: 800;
}

.mycard {
  height: 100%;
  width: 100%;
  max-width: 24rem;
}

.cardtitle {
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgb(0, 0, 0);
  text-align: center;
}

.cardimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
  max-height: 10rem;
  border-radius: 9999px;
}

.carddescription {

  color: rgb(0, 0, 0);
  text-align: center;
}

.slider {
  width: 100%;

  min-height: 385px;
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 375px;
  perspective: 500px;
  margin-top: 5rem;
  overflow: hidden;
}

.testimonials .item {
  max-width: 20rem;
  border-radius: 1.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  padding: 30px;
  width: 450px;
  text-align: center;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}

.testimonials .item img {
  width: 200px;
  border-radius: 70%;
  border: 13px solid #000000;
}

.testimonials .item p {
  color: rgb(0, 0, 0);
}

.testimonials .item h2 {
  font-size: 14px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked~.dots label[for="t-1"] {
  transform: scale(2);
  background-color: #fff;
}

#t-1:checked~.dots label[for="t-2"] {
  transform: scale(1.5);
}

#t-1:checked~.testimonials label[for="t-1"] {
  z-index: 4;
}

#t-1:checked~.testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);

  z-index: 3;
}

#t-1:checked~.testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}

#t-1:checked~.testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}

#t-1:checked~.testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
}

/* Second */
#t-2:checked~.dots label[for="t-1"] {
  transform: scale(1.5);
}

#t-2:checked~.dots label[for="t-2"] {
  transform: scale(2);
  background-color: #fff;
}

#t-2:checked~.dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-2:checked~.testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}

#t-2:checked~.testimonials label[for="t-2"] {
  z-index: 3;
}

#t-2:checked~.testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-2:checked~.testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}

#t-2:checked~.testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
}

/* Third */
#t-3:checked~.dots label[for="t-2"] {
  transform: scale(1.5);
}

#t-3:checked~.dots label[for="t-3"] {
  transform: scale(2);
  background-color: #fff;
}

#t-3:checked~.dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-3:checked~.testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}

#t-3:checked~.testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}

#t-3:checked~.testimonials label[for="t-3"] {
  z-index: 3;
}

#t-3:checked~.testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-3:checked~.testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
}

/* Fourth */
#t-4:checked~.dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-4:checked~.dots label[for="t-4"] {
  transform: scale(2);
  background-color: #fff;
}

#t-4:checked~.dots label[for="t-5"] {
  transform: scale(1.5);
}

#t-4:checked~.testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
}

#t-4:checked~.testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}

#t-4:checked~.testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-4:checked~.testimonials label[for="t-4"] {
  z-index: 3;
}

#t-4:checked~.testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
}

/* Fifth */
#t-5:checked~.dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-5:checked~.dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
}

#t-5:checked~.testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
}

#t-5:checked~.testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}

#t-5:checked~.testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}

#t-5:checked~.testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 3;
}

#t-5:checked~.testimonials label[for="t-5"] {
  z-index: 4;
}


/* Team */
/* --------------- */
.main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#team {
  margin: 50px auto;
  color: black;

}

#team .card {
  border: none;
  padding: 0;
}

#team .card-body h3 {
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

#team .card img {
  height: 300px;
  width: auto;
}

#team #main {
  width: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ------View button------ */

.just {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

#container button.learn-more {
  width: 12rem;
  height: auto;
}

#container button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

#container button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

#container button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

#container button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

#container button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#container button:hover .circle {
  width: 100%;
}

#container button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

#container button:hover .button-text {
  color: #fff;
}

.torch {
  font-weight: 600;
  color: #413b52;
}


/* -----Startup----- */


#startup {
  margin: 25px auto;
  height: auto;
  background-color: whitesmoke;
  padding: 10px 0;
  font-family: sans-serif;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#startup .image-container {
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin: 15px auto;
  /* padding: 10px 0; */
}

#startup img {
  height: 277px;
  max-width: 100%;
  overflow: hidden;
  margin: 10px;
}

#startup a {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  width: auto;
  text-align: center;
  margin-bottom: 50px;
  background-color: grey;
}

#startup a:focus {
  background-color: #7cc576;
}

#startup .hide {
  display: none;
}


/* ------Ayog------ */


.ayog-div {
  height: 300px;
}

#ayog_img {
  width: 60%;
  vertical-align: middle;
}

#ayog_img:hover {
  width: 80%;

}

@media screen and (max-width:800px) {
  #ayog_img {
    width: 30%;
    vertical-align: middle;
  }

  #ayog_img:hover {
    width: 50%;

  }
}

/* -----Join Us----- */

#join #second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f4913f;
  height: 120px;
  vertical-align: middle;
}

#join #second .just {
  width: 25%;
}

#join #second #text {
  width: 60%;
  margin: auto;
}

#join #second #text{
  flex-wrap: wrap;
}

#join #first {
  position: relative;
  height: 450px;
}

#join #first::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/join.jpeg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#join #first #head {
  position: relative;
  top: 27%;
}

#join #first .just {
  position: relative;
  top: 28%;
}

#join #first .hr-lines {
  color: #f4913f;
}

#join #first .hr-lines:after {
  background: #f4913f;
}

#join #first .hr-lines:before {
  background: #f4913f;
}

@media screen and (max-width:800px){
  #join #second #text{
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  #join #second{
    flex-direction: column;
    /* width: 100%; */
    height: 160px;
  }

  #join #second .just{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
  }

  
}

@media screen and (max-width:850px) {
  .carousel-cell {

    height: 500px;

  }
}

@media screen and (max-width:700px) {
  .carousel-cell {

    height: 450px;

  }
}

@media screen and (max-width:600px) {
  .carousel-cell {

    height: 380px;

  }
}

@media screen and (max-width:500px) {
  .carousel-cell {

    height: 300px;

  }
}

@media screen and (max-width:469px) {
  .hr-lines:before {
    height: 3px;
    width: 70px;
  }

  .hr-lines:after {
    height: 3px;
    width: 70px;
  }
}

@media screen and (max-width:376px) {
  .hr-lines:before {
    height: 3px;
    width: 35px;
  }

  .hr-lines:after {
    height: 3px;
    width: 35px;
  }
}