/* Carousel */
/* ----------------- */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: rgb(255, 255, 255);
  margin-top: 5%;
}

.carousel-cell {
  width: 66%;
  margin: 10px;
  height: 600px;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

/* cell number */
.carousel-cell:before {
  display: block;
  content: '';
}


/* Team */
/* --------------- */

#team{
  margin: 50px auto;
  color: black;

}

#team .card{
  border: none;
  padding: 0;
}

#team .card-body h3{
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

#team .card img{
  height: 300px;
  width: auto;
}

#team #main{
  width: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
}



