* { box-sizing: border-box; }



body { font-family: sans-serif; }

.carousel {
  background: rgb(255, 255, 255);
  margin-top: 5%;
}

.carousel-cell {
  width: 66%;
  margin: 10px;
  height: 600px;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}

/* cell number */
.carousel-cell:before {
  display: block;
  content: '';
}
