nav {
    background-color: transparent;
    box-shadow: none;
}

header {
    position: absolute;
    z-index: 1000;
}

header nav ul {
    margin-left: 20rem;
}

nav ul li {
    background-color: transparent;
}

.underline {
    color: white;
}

.tobedrop::after {
    background: none;
}

nav a {
    color: #FFF;
}

header h1 {
    color: #FFF;
}

header h3 {
    color: #FFF;
}

header h3 a {
    color: #FFF;
}

header a {
    color: #FFF;
}

nav ul li ul li:hover {
    background: transparent;
}

/* Background color change on Hover */
nav a:hover {
    background: transparent;
}

#join #head {
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join #write {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

#join h1 {
    /* position: relative;
    top: 40%; */
    color: #FFF;
    font-weight: 800;
}

#join #head::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/join_header.jpg') center no-repeat content-box;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}


/* --------start--------- */


#start {
    margin: 70px auto;
    height: auto;
    padding: 31px 131px;
}

#start h1 {
    font-size: 40px;
    margin-bottom: 42px;
    font-family: "Poppins", sans-serif;
    color: #1a1e2d;
    line-height: 1.1;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.3px;
}

#start p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

@media screen and (max-width: 788px) {
    #start{
        width: 100%;
        margin: 50px auto;
        padding: 30px;
    }

    #start .just{
        width: 100%;
        margin: 40px auto;
        justify-content: center;
        text-align: center;
    }
}

.just {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 30px;
}

#container button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

#container button.learn-more {
    width: 12rem;
    height: auto;
}

#container button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

#container button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#container button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#container button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#container button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#container button:hover .circle {
    width: 145%;
}

#container button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#container button:hover .button-text {
    color: #fff;
}

#container .button-text {
    width: 16rem;
}

.torch {
    font-weight: 600;
    color: #413b52;
}

/* ---------challenge---------- */

#challenge {
    margin: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#challenge #cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f6f3f1;
    padding: 0 80px;
    width: 100%;
}

#challenge .items {
    height: auto;
    width: 20%;
    background: #FFF;
    position: relative;
    bottom: 119px;
}

#challenge .title h1 {
    color: #1a1e2d;
    font-size: 41px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.3px;
}

#challenge .title {
    width: 632px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

#challenge .items img {
    width: 100%;
    filter: grayscale(1);
}

#challenge .items img:hover {
    filter: none;
}

#challenge .items .subtitle {
    width: auto;
    margin: auto;
    text-align: center;
    padding: 34px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #838694;
}

@media screen and (max-width: 788px) {
    #challenge #cards{
        display: flex;
        flex-direction: column;
    }

    #challenge #cards .items{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        /* padding: 0; */
        margin: 30px;
    }

    #challenge .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto 20px;
        margin-bottom: 100px;
    }
}


/* -----------offer--------------- */


#offer {
    margin: 70px 0;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

#offer .title {
    width: 275px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


#offer .title h1 {
    color: #1a1e2d;
    font-size: 41px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.3px;
}

#offer #offers .it2 {
    width: 400px;
    margin-bottom: 10px;
    height: 400px;
}

#offer #offers .it2 img {
    width: 100%;
    height: 100%;
}

#offer #offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#progress {
    position: fixed;
    bottom: 20px;
    z-index: 2000;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #progress-value {
    display: block;
    z-index: 2000;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
  }

#offer #offers .it {
    width: 400px;
    height: 400px;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;
    border: 1px solid #dee2e6;
}

#offer #offers .it h1 {
    color: #1a1e2d;
}


#offer #offers .green {
    background-color: #02b663;
    color: #FFF;
}

#offer #offers .green h1 {
    color: #FFF;
}