/* .image{
    width: 100%;
    height:auto;
} */
.heading{
     display: flex;
     justify-content: center;
     margin-top: 20px;
     margin-bottom: 50px;
}
.image{
    background: no-repeat;
}

.link1  ion-icon{
    font-size: 40px;
}
.plus ion-icon{
    font-size: 40px;
}
.details{
    /* width: 50%;
    justify-content: space-between;
     */
}
.content ion-icon{
    font-size: 30px;
}
/* last */
.container-thanks{
    position: relative;
    
}
.container-thanks::before{
    content: "";
    background: url('/images/thanks.jpg') center no-repeat content-box;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    height:100%;
}
.container-thanks{
    height: 100%;
    margin-top: 30px;
}

.buttoon{
    border-radius: 10px;
  background-color: rgb(2, 84, 84);  
}
.image{
    /* height: 100%; */
}
p {
    margin-top: 27px;
    margin-bottom: 1rem;
}


.mt-2 {
    margin-top: 2.5rem!important;
}

$c-primary: #586075
$c-secondary: #8BE5AD
$c-accent: #F5F5F0

html, body
  font-family: 'Roboto', 'Helvetica', sans-serif
  padding: 0
  margin: 0
div
  box-sizing: border-box

.template-wrap
  width: 600px
  height: 100%
  border: 1px solid #767676
  margin: 0 auto
  padding: .5em
  figure
    margin: 1em auto
    
// default

.ep-flowchart
  width: 100%
  position: relative
.ep-svg-wrap
  .ep-svg-block
    cursor: pointer
    rect, text
      transition: all .3s ease
    &:hover rect, &:hover text
      transform: translateY(-5px)
      text-shadow: 0 1px 0 #fff, 0 -1px 0 #000
.ep-detail-wrap
  position: absolute
  background-color: rgba(0,0,0,.5)
  top: 0
  bottom: 0
  left: 0
  right: 0
  .ep-detail
    position: relative
    font-size: 1.2me
    background-color: $c-accent
    color: $c-primary
    transform: translateY(-50%)
    margin: 50% auto
    width: 60%
    height: auto
    padding: 1em 2em
    border-radius: 15px
    border: 5px solid $c-secondary
    box-shadow: 0 15px 20px rgba(0,0,0,.2)
    &::after
      content: "\2716"
      color: $c-secondary
      position: absolute
      top: -20px
      right: -20px
      display: inline-block
      font-size: 15px
      line-height: 20px
      height: 20px
      width: 20px
      padding: 5px
      text-align: center
      background-color: $c-accent
      border-radius: 50%
      border: 5px solid
      cursor: pointer
      box-shadow: 0 3px 15px rgba(0,0,0,.2)
      
      
      
.pop-details-enter-active, .pop-details-leave-active
  transition: all .3s ease-in-out
.pop-details-enter
  opacity: 0
.pop-details-leave-to
  opacity: 0






.offerings{
  position: relative;
}
.offerings::before{
  content: "";
  background: url('/images/manage.jpg') center no-repeat content-box;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  height:100%;
}
/* 
 .feature1 ,.feature2> ion-icon{
  font-size: 30px;
} */


.feature1 ion-icon{
  font-size: 40px;
}

.feature2 ion-icon{
  font-size: 40px;
}

/* .container-new{
  position: relative;
  color:#fff;
}
.container-new::before{
  content: "";
  background: url('/images/manage.jpg') center no-repeat content-box;
  background-size: cover;
  opacity: 0.7;
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  height:100%;
/* } */
/* .container-new{
  background: url('/images/manage.jpg') center no-repeat content-box;
  background-size: cover;
  opacity: 0.2;
  top:0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;



} */ 



.first ,.second ,.third ,.fourth, .fifth, .sixth ,.seventh, .eight{
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    margin: 108px 40px;
}
.first ,.second ,.third ,.fourth, .fifth, .sixth ,.seventh, .eight:hover{
  curser:pointer;
  
     
}


.container{
  
}

/* 
img, svg {
  vertical-align: middle;
  margin-bottom: -51px;
} */

/* ion-icon {
  color: rgb(13, 13, 13);
  
} */